@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  font-family: "Work Sans", sans-serif;
  transition: all 0.4s ease;
}
input,
textarea {
  border: none;
  outline: none;
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.top_nav {
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_nav_right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav_social_icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(27, 27, 30, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_nav_contact_num h4 {
  /* Headline Desktop/H4 */
  color: rgb(27, 27, 30);

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: right;
}
.top_nav_contact_num p {
  /* Body/Small */
  color: rgb(238, 42, 54);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
}

.top_nav_contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}
.top_nav_contacts_line {
  width: 1px;
  /* Text/Black 15% divider_stroke */
  background: rgba(27, 27, 30, 0.15);
  height: 24px;
}

.top_nav_contacts_work_time p {
  /* Body/Small */
  color: rgba(27, 27, 30, 0.7);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.main_btn {
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  /* Button */

  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: center;
}

.main_btn:hover,
.sec_btn:hover {
  background: #cbcaca;
}
.red_btn {
  color: rgb(255, 255, 255);
  background: rgb(238, 42, 54);
}
.red_btn:hover {
  background: rgb(200, 29, 41);
}
.main_nav_container {
  backdrop-filter: blur(8px);
  /* Background/Blue */
  background: rgb(27, 36, 71);
  padding: 14px 0;
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.catalog_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  /* Text/White */
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.nav_menu p {
  /* Body/Default */
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}
.nav_menu a p:hover {
  text-decoration: underline;
}
.nav_menu_item {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.nav_search input {
  width: 100%;
  height: 53px;
  border-radius: 4px;
  text-indent: 24px;
  /* Text/White 30% divider */
  background: rgba(255, 255, 255, 0.3);

  /* Body/Default */

  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.nav_search input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.nav_search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_search img {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.nav_search {
  width: 39%;
}
.header_grid {
  padding: 26px 0;
}

.header_grid_item {
  border-radius: 4px;
  padding: 32px;
}
.grid_item_1 {
  background: url(../assets/images/grid/1.png);
  background-size: cover;
}
.grid_item_2 {
  background: url(../assets/images/grid/2.png);
  background-size: cover;
}
.grid_item_3 {
  background: url(../assets/images/grid/3.png);
  background-size: cover;
}
.grid_item_4 {
  background: url(../assets/images/grid/4.png);
  background-size: cover;
}
.grid_item_5 {
  background: url(../assets/images/grid/5.png);
  background-size: cover;
}
.grid_item_6 {
  background: url(../assets/images/grid/6.png);
  background-size: cover;
}
.grid_item_7 {
  background: url(../assets/images/grid/7.png);
  background-size: cover;
}
.grid_item_8 {
  background: url(../assets/images/grid/8.png);
  background-size: cover;
}

.item_large {
  width: 50%;
  height: 426px;
}

.header_grid_item p {
  /* Headline Desktop/H3 */
  color: rgb(255, 255, 255);

  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
  text-align: left;
}

.header_grid_list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header_grid_list_grid {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.header_grid_list_grid_list {
  display: flex;
  align-items: center;
  gap: 26px;
  width: 100%;
}
.item_small {
  width: 100%;
  height: 200px;
}
.item_med {
  width: 100%;
  height: 200px;
}

.header_grid_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.header_grid_item a {
  display: none;
}
.header_grid_item:hover a {
  display: block;
}

.beton_marks {
  padding: 80px 0 100px;
}

.block_title {
  margin-bottom: 48px;
}
.block_title h3 {
  /* Headline Desktop/H2 */
  color: rgb(27, 27, 30);
  font-size: 38px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2.5%;
  text-align: left;
}
.filter_btn {
  box-sizing: border-box;
  /* Text/Black 15% divider_stroke */
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;
  width: 156.75px;
  height: 40px;
  /* Text/White */
  background: rgb(255, 255, 255);
  /* Body/Default */
  color: rgb(27, 27, 30);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.4s ease;
}
.filter_btn:hover {
  transition: all 0.4s ease;
  border: 1px solid rgba(27, 27, 30, 0.15);
  color: rgb(255, 255, 255);
  background: rgb(238, 42, 54);
}

.filter_btns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.filter_btns .active_filter_btn {
  background: rgb(238, 42, 54);
  border: 1px solid rgba(27, 27, 30, 0.15);
  color: #fff;
}
.about_beton_block {
  display: none;
}
.about_beton_blocks_content .active_filter_btn {
  display: block;
}

.filter_btns {
  margin-bottom: 32px;
}

.about_beton_block {
  padding: 24px;
  box-sizing: border-box;
  /* Text/Black 15% divider_stroke */
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;
}

.about_beton_block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(27, 27, 30, 0.15);
}
.about_beton_block_title h4 {
  /* Headline Desktop/H3 */
  color: rgb(27, 27, 30);

  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
  text-align: center;
}

.know_more {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.know_more p {
  /* Button */
  color: rgb(27, 27, 30);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: left;
}

.about_beton_block_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  padding-top: 24px;
}
.about_beton_block_item h5 {
  /* Headline Desktop/H4 */
  color: rgb(27, 27, 30);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
  margin-bottom: 16px;
}
.about_beton_block_item {
  width: 50%;
}

.about_beton_block_item p {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.beton_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.beton_desc_list ul {
  padding-left: 20px;
  margin-top: 8px;
}
.beton_desc_list li {
  /* Body/Default */
  color: rgb(27, 27, 30);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 2px;
}

.about_beton_block_wrapper_line {
  height: 397px;
  width: 1px; /* Text/Black 15% divider_stroke */
  background: rgba(27, 27, 30, 0.15);
}
.beton_desc_gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.prices_block_wrapper {
  background: rgb(247, 247, 248);
  padding: 80px 0 100px;
}
.filter_btns_sec .filter_btn {
  width: auto;
  padding: 0 24px;
}
.prices_table table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}
.prices_table thead td {
  box-sizing: border-box;
  /* Text/White 30% divider */
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 24px 16px 24px;
  background: rgb(27, 36, 71);
  /* Headline Desktop/H4 */
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.prices_table tbody td {
  box-sizing: border-box;
  /* Text/Black 15% divider_stroke */
  border: 1px solid rgba(27, 27, 30, 0.15);

  padding: 16px 24px 16px 24px;
  background: #fff;
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.tac {
  text-align: center !important;
}
.table_buy {
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: flex-end;
}
.table_buy .red_btn {
  width: 181px;
  height: 34px;
  padding: 0;
}

.prices_table_desc p {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(27, 27, 30, 0.7);
}

.prices_table_desc a {
  color: rgb(238, 42, 54);
}
.calculator_wrapper {
  background: rgb(27, 36, 71);
}
.calculator_block {
  padding: 80px 0 100px;
}
.block_title_w h3 {
  color: rgb(255, 255, 255);
}

.calculator {
  border-radius: 4px;
  padding: 48px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
}
.calculator_left {
  width: 70%;
}
.calculator_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.calculator_title p {
  /* Headline Desktop/H4 */
  color: rgb(27, 27, 30);

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
}

.calc_line {
  border-radius: 16px;
  height: 8px;
  width: 100%;
  background: rgba(27, 27, 30, 0.15);
  margin-bottom: 80px;
}

.calc_line_value {
  height: 100%;
  border-radius: 16px;
  /* Primary/Red */
  background: rgb(238, 42, 54);
}

.calc_options {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}
.calc_option {
  width: 100%;
  box-sizing: border-box;
  /* Text/Black 15% divider_stroke */
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;

  /* Калькулятор */
  box-shadow: 0px 4px 28px 0px rgba(228, 228, 228, 0.25);
  height: 110px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.calc_option p {
  /* Body/Default */
  color: rgb(27, 27, 30);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.calc_option_sel {
  width: 40px;
  height: 40px;
  background: rgb(179, 179, 180);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
}

.active_calc_option_sel {
  background: rgb(238, 42, 54);
}

.calc_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calc_actions p {
  /* Body/Small */
  color: rgba(27, 27, 30, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calc_actions .main_btn {
  width: 147px;
  height: 46px;
}

.adv_block {
  padding: 80px 0 100px;
}

.adv_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
.adv_block_wrapper {
  background: rgb(247, 247, 248);
}

.adv_card {
  box-sizing: border-box;
  /* Text/Black 15% divider_stroke */
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;
  padding: 32px;

  width: 25%;
  height: 234px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adv_card p {
  /* Headline Desktop/H4 */
  color: rgb(27, 27, 30);

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: center;
  margin: 24px 0 12px;
}
.adv_card span {
  /* Body/Small */
  color: rgba(27, 27, 30, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.consultiong_wrapper {
  position: relative;
  background: rgb(27, 36, 71);
  width: 100%;
  overflow: hidden;
}
.consulting_block_w {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.consulting_block_left {
  width: 45%;
}

.consulting_block_left h2 {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2.5%;
  text-align: left;
  margin-bottom: 24px;
}

.consulting_block_left span {
  color: rgb(238, 42, 54);
}

.consulting_block_left_desc p {
  /* Body/Default */
  color: rgba(255, 255, 255, 0.7);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.consulting_block_cont {
  padding-left: 16px;
  border-left: 2px solid rgb(238, 42, 54);
}
.consulting_block_cont p {
  /* Body/Default */
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.consulting_block_cont a {
  /* Headline Desktop/H4 */
  color: rgb(238, 42, 54);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.consulting_block_cont {
  margin-bottom: 40px;
}

.consl_img {
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  object-fit: cover;
}

section {
  padding: 80px 0 100px;
}

.carousel_wrapper {
  width: 100%;
  position: relative;
}
.carousel_container {
  overflow: hidden;
}
.car_arrow {
  cursor: pointer;
  border: 1px solid rgb(238, 42, 54);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  transition: all 0.4s ease;
}
.car_arrow:hover {
  transition: all 0.4s ease;
  opacity: 0.6;
}
.car_arrow_left {
  left: -56px;
}
.car_arrow_right {
  right: -56px;
}

.car_arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 12px;
}

.swiper-pagination-bullet {
  border-radius: 1px !important;
  width: 31px !important;
  height: 2px !important;
  background: rgb(221, 221, 222) !important;
  margin: 0 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: rgb(238, 42, 54) !important;
}

.rate_card {
  width: 100%;
  border-radius: 4px;
  padding: 48px;
  background: rgb(247, 247, 248);
}

.rate_card_auth {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rate_card_avatar img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  object-fit: cover;
}

.rate_card_auth_desc h5 {
  /* Headline Desktop/H4 */
  color: rgb(27, 27, 30);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
  margin-bottom: 4px;
}

.rate_card_auth_desc p {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.rate_card_auth {
  margin-bottom: 34px;
}

.rate_card_text p {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.grey_blocks {
  background: rgb(247, 247, 248);
}
.photo_item p {
  /* Headline Desktop/Н5 */
  color: rgb(27, 27, 30);
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -1.5%;
  text-align: left;
}
.photo_item img {
  width: 100%;
}

.video_item img {
  width: 100%;
  cursor: pointer;
}

.faq_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.faqs_list {
  width: 70%;
  max-width: 900px;
}

.faq_item {
  border-radius: 4px;
  width: 100%;
  padding: 16px;
  background: rgb(247, 247, 248);
}

.faq_item_title_left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.faq_item_title_left span {
  /* Headline Desktop/H4 */
  color: rgba(27, 27, 30, 0.7);

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.faq_item_title_left p {
  /* Headline Desktop/H4 */
  color: rgb(27, 27, 30);

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.faq_item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq_item_desc {
  padding-top: 20px;
  padding-left: 32px;
  display: none;
}
.faq_item_desc p {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.faq_item_active .faq_item_desc {
  display: block;
}
.faq_arrow img {
  transition: all 0.4s ease;
}

.faq_item_active .faq_arrow img {
  transition: all 0.4s ease;
  transform: rotate(-180deg);
}

.faq_item {
  margin-bottom: 16px;
}
.operator {
  border-radius: 4px;
  width: 348px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: rgb(238, 42, 54);
}

.operator h4 {
  /* Headline Desktop/H3 */
  color: rgb(255, 255, 255);

  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
  text-align: left;
}

.oper_auth {
  display: flex;
  align-items: center;
  gap: 16px;
}
.oper_auth p,
.operator_desc p {
  /* Headline Desktop/H4 */
  color: rgb(255, 255, 255);

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}
.oper_auth span,
.operator_desc span {
  /* Body/Default */
  color: rgba(255, 255, 255, 0.8);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.oper_form button {
  width: 100%;
  background: #fff;
  margin-top: 16px;
}
.oper_form input,
.pre_footer_right input {
  border-radius: 4px;
  height: 48px;
  width: 100%;
  text-indent: 24px;
  background: rgba(255, 255, 255, 0.7);
  color: #000;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.oper_form input::placeholder,
.pre_footer_right input::placeholder {
  color: rgba(27, 27, 30, 0.6);
}

.operator_socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.operator_socials div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  width: 46px;
  height: 46px;
}

.about_products {
  width: 100%;
  max-width: 1018px;
}
.about_products p {
  color: rgba(27, 27, 30, 0.7);
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.about_product_img {
  width: 100%;
  margin: 20px 0;
}

.about_products h5 {
  /* Headline Desktop/H3 */
  color: rgb(27, 27, 30);
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
  text-align: left;
}

.about_products ul {
  padding-left: 20px;
  margin-bottom: 32px;
}
.about_products ul li {
  color: rgba(27, 27, 30, 0.7);
}
.warning {
  padding-left: 16px;
  border-left: 2px solid rgb(238, 42, 54);
  margin-bottom: 32px;
}
.consulting_block {
  max-width: 1020px;
  width: 100%;
  border-radius: 4px;
  padding: 24px;
  background: rgb(247, 247, 248);
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 32px;
}

.consulting_block_container {
  width: 100%;
  max-width: 473px;
}
.consulting_block_container .main_btn {
  width: 100%;
}
.consulting_block_container p {
  /* Body/Small */
  color: rgba(27, 27, 30, 0.7);
  margin: 16px 0 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.cons_tel {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cons_tel {
  /* Headline Desktop/H3 */
  color: rgb(238, 42, 54);

  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
  text-align: left;
}
.block_title h5 {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.sec_btn {
  box-sizing: border-box;
  padding: 12px 24px 12px 24px;
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;
  /* Button */
  color: rgb(27, 27, 30);
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: left;
}

.block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
.article_item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.article_item img {
  width: 100%;
  margin-bottom: 16px;
}

.article_item_hash {
  box-sizing: border-box;
  padding: 4px 8px 4px 8px;
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 2px;
  margin-bottom: 16px;
}

.article_item_hash p {
  color: rgba(27, 27, 30, 0.7);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.article_item h3 {
  /* Headline Desktop/Н5 */
  color: rgb(27, 27, 30);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -1.5%;
  text-align: left;
  margin-bottom: 8px;
}

.article_item h5 {
  color: rgba(27, 27, 30, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.article_item .sec_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.article_item .sec_btn img {
  width: 5.06px;
  margin: 0;
}

.contacts_cart {
  background: rgb(247, 247, 248);
}

.contacts_list {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.contacts_list_item h3 {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.contacts_list_item_1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.contacts_list_item_1 a:nth-child(2) {
  /* Headline Desktop/H4 */
  color: rgb(238, 42, 54);
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.contacts_list_item_1 a:nth-child(3) {
  color: rgb(27, 27, 30);
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.contacts_list_line {
  background: rgba(27, 27, 30, 0.15);
  width: 1px;
  height: 80px;
}
.contacts_list_item_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  width: 100%;
}

.socials_btm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts_list_item_3 {
  width: 30%;
}
.contacts_list_item_3 p {
  color: rgb(27, 27, 30);
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.contacts_list {
  margin-bottom: 42px;
}
.map img {
  width: 100%;
}

.pre_footer_container {
  background: url(../assets/images/pre-footer.png);
  background-size: cover;
}

.pre_footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.dlbp_title h3 {
  color: rgb(255, 255, 255);

  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2.5%;
  text-align: left;
}
.dlbp_title_top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dlbp_title_top div {
  border-radius: 2px;
  padding: 4px 8px 8px 8px;
  background: rgb(238, 42, 54);
}
.pre_footer_left_desc p {
  margin-top: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}

.pre_footer_right {
  width: 100%;
  max-width: 670px;
}
.pre_footer_right h4 {
  color: rgb(255, 255, 255);

  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
  text-align: left;
  margin-bottom: 24px;
}

.pre_footer_right .main_btn {
  width: 100%;
  margin: 16px 0 8px;
}

.pre_footer_right p {
  color: rgba(255, 255, 255, 0.8);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.pre_footer_right a {
  color: rgba(255, 255, 255, 0.8);

  font-size: 14px;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

footer {
  background: rgb(27, 36, 71);
  padding: 56px 0 0;
}

.footer_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer_wrapper p {
  /* Body/Default */
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.footer_menu a p:hover,
.footer_bottom_text a p:hover,
.f_num:hover {
  text-decoration: underline;
}

.f_num {
  /* Headline Desktop/H4 */
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5%;
  text-align: left;
}

.footer_menu h4 {
  /* Body/Default */
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_bottom {
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_bottom_text {
  display: flex;
  align-items: center;
  gap: 160px;
}
.footer_bottom_text p {
  margin: 0;
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer_socials div {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages_navigation {
  padding: 32px 0 48px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.main_page_link {
  margin-right: 5px;
}
.pages_navigation_arr {
  width: 4px;
}

.pages_navigation p {
  color: rgb(27, 27, 30);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.header_bg_block .pre_footer_right {
  max-width: 438px;
}

.header_bg_block .pre_footer_left {
  max-width: 670px;
}

.header_bg_block {
  padding-top: 0;
}

.pages_navigation_w p {
  color: rgb(255, 255, 255);
}

.pages_navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners_desc p {
  /* Body/Default */
  color: rgba(27, 27, 30, 0.7);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.partners_block .block_title {
  margin-bottom: 24px;
}

.partners_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  margin-top: 48px;
}

.partners_list div {
  height: 201px;
  box-sizing: border-box;
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.about_imgs img {
  width: 32%;
}

.filter_btns_th .filter_btn {
  width: 15.5%;
}

.truck_block {
  box-sizing: border-box;
  padding: 24px 26px 24px 26px;
  width: 100%;
  border: 1px solid rgba(27, 27, 30, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.truck_block_left {
  max-width: 300px;
}
.truck_block_left h3 {
  /* Headline Desktop/H3 */
  color: rgb(27, 27, 30);
  font-size: 26px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.5%;
}
.truck_prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0 45px;
}

.truck_block p {
  /* Body/Default */
  color: rgb(179, 179, 180);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.truck_prices p {
  margin-bottom: 8px;
}
.truck_block_left .main_btn {
  width: 100%;
}

.truck_block_right {
  width: 100%;
  max-width: 300px;
}
.truck_block_right {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}
.truck_block_right span {
  color: rgb(27, 27, 30);
  padding-left: 8px;
}

.catalog_btn {
  position: relative;
}
.menu_drop_down {
  border-radius: 0px 0px 8px 8px;
  padding: 16px;
  /* Калькулятор */
  box-shadow: 0px 4px 28px 0px rgba(228, 228, 228, 0.25);
  /* Text/White */
  background: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 61px;
  display: flex;
  align-items: start;
  gap: 24px;
}
.menu_drop_down_item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 16px;
  margin-bottom: 4px;
}
.menu_drop_down_item p {
  color: rgb(27, 27, 30);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.menu_drop_down_list_items {
  padding: 0px 48px 0px 48px;
}

.menu_drop_down_list_items p {
  color: rgba(27, 27, 30, 0.7);
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.pl_16px {
  padding-left: 16px;
}
.pt_32px {
  padding-top: 32px;
}

.menu_drop_down_main {
  min-width: 890px;
}
.pr0 {
  padding-right: 0;
}
.menu_drop_down p:hover {
  text-decoration: underline;
}

.menu_drop_down {
  display: none;
}
.active_catalog_btn .menu_drop_down,
.active_nav_menu_item .menu_drop_down {
  display: flex;
}

.nav_menu_item {
  position: relative;
}

.menu_drop_down_sec {
  top: 53px;
}
.menu_drop_down_sec {
  min-width: 260px;
}
.main_nav {
  gap: 20px;
}
.mob_menu_btn {
  width: 53px;
  height: 53px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.mob_menu_btn img {
  transform: rotate(180deg);
}

.mob_menu_wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgb(27, 36, 71);
  top: 0;
  left: 0;
  padding: 20px;
  transition: all 0.4s ease;
  transform: translateX(100%);
}
.mob_menu_exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mob_menu_list {
  display: flex !important;
  flex-direction: column;
  padding-top: 40px;
}

.visible_mob_menu_wrapper {
  transition: all 0.4s ease;
  transform: translateX(0);
}

.truck_block {
  display: none;
}
.truck_blocks_wrapper .active_filter_btn {
  display: flex;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel_wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .mob_menu_btn {
    display: flex;
  }
  .truck_block {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .filter_btns_th .filter_btn {
    width: auto;
    padding: 0 25px;
  }
  .header_grid_list,
  .about_beton_block_wrapper {
    flex-direction: column;
  }
  .item_large,
  .header_grid_list_grid,
  .about_beton_block_item {
    width: 100%;
  }
  .about_beton_block_wrapper_line {
    width: 100%;
    height: 1px;
  }
  .adv_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .adv_card {
    width: 100%;
  }
  .car_arrow_left {
    left: 0px;
  }
  .car_arrow_right {
    right: 0px;
  }
  .calc_options {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
  .faq_wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .faqs_list {
    width: 100%;
  }
  .articles_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .article_item {
    width: 100%;
  }
  .nav_menu,
  .top_nav_right .nav_socials,
  .top_nav_right .top_nav_contacts {
    display: none;
  }
  .partners_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .partners_list div {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .truck_block img {
    width: 100%;
  }
  .partners_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .prices_table {
    overflow: auto;
  }
  .prices_table table {
    min-width: 900px;
  }
  .calculator {
    flex-direction: column;
  }
  .calculator_left {
    width: 100%;
  }
  .consulting_block_w {
    flex-direction: column;
    gap: 30px;
  }
  .consulting_block_left {
    width: 100%;
  }
  .consl_img {
    position: static;
    width: 100%;
  }
  .consulting_block {
    flex-direction: column;
    gap: 20px;
  }
  .block_title {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .contacts_list {
    flex-direction: column;
    gap: 20px;
  }
  .socials_btm {
    flex-direction: row;
  }
  .contacts_list_item_2 {
    align-items: start;
  }
  .contacts_list_item_1,
  .contacts_list_item_3 {
    width: 100%;
  }
  .contacts_list_line {
    display: none;
  }
  .pre_footer {
    flex-direction: column;
    gap: 30px;
  }
  .footer_top,
  .footer_bottom {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .footer_bottom_text {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  section,
  .consulting_block_w,
  .adv_block,
  .calculator_block,
  .prices_block_wrapper,
  .beton_marks {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .operator {
    width: 100%;
  }
  .block_title h3 {
    font-size: 25px;
  }
  .block_title {
    margin-bottom: 20px;
  }
  .consulting_block_w {
    padding: 30px 0 0;
  }
  .consulting_block_left {
    padding: 0 10px;
  }
  .beton_desc_gallery img {
    width: 32%;
  }
  .nav_search {
    width: 280px;
  }
}

@media only screen and (max-width: 500px) {
  .truck_block {
    padding: 20px 15px;
  }
  .truck_block_right,
  .truck_block_left {
    max-width: 100%;
  }
  .partners_list {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .partners_list div {
    height: 130px;
  }
  .item_large {
    height: 300px;
  }
  .header_grid_item {
    padding: 20px;
  }
  .header_grid_list_grid_list,
  .header_grid_list,
  .header_grid_list_grid {
    gap: 15px;
  }
  .header_grid_list {
    margin-bottom: 16px !important;
  }
  .header_grid_list_grid_list {
    flex-direction: column;
  }
  .header_grid_item {
    height: 250px;
  }
  .header_grid_item a {
    display: block;
  }
  .beton_desc {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .about_beton_block {
    padding: 15px;
  }
  .filter_btns {
    margin-bottom: 20px;
  }
  .filter_btns {
    gap: 10px;
  }
  .calculator {
    padding: 20px 15px;
  }
  .calc_options {
    margin-bottom: 30px;
  }
  .calc_actions {
    flex-direction: column-reverse;
    align-items: start;
    gap: 20px;
  }
  br {
    display: none;
  }

  .calc_actions .main_btn {
    width: 100%;
  }
  .calculator {
    gap: 30px;
  }
  .adv_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .adv_card {
    padding: 20px;
    height: auto;
  }
  .consulting_block_left h2 {
    font-size: 26px;
    line-height: 130%;
  }
  .rate_card {
    padding: 15px;
  }
  .rate_card_auth {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .rate_card_auth_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rate_card_text p {
    font-size: 14px;
  }
  .car_arrows {
    display: none;
  }
  .carousel_wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .faq_item_title_left p {
    font-size: 17px;
  }
  .faq_item_desc p {
    font-size: 14px;
  }
  .faq_item {
    padding: 10px;
  }
  .operator {
    padding: 15px;
    gap: 30px;
  }
  .consulting_block img:first-child {
    width: 100%;
  }
  .cons_tel img {
    width: auto !important;
  }
  .consulting_block {
    padding: 15px;
  }
  .articles_list {
    display: flex;
    flex-direction: column;
  }
  .dlbp_title_top {
    flex-direction: column;
  }
  .dlbp_title h3 {
    text-align: center;
  }
  footer {
    padding: 30px 0;
  }
  .footer_bottom {
    margin-top: 20px;
  }
  .pre_footer_left_desc p {
    margin-top: 30px;
  }
  .calc_line {
    margin-bottom: 30px;
  }
  .calc_options {
    gap: 30px 10px;
  }
  .calc_option {
    padding: 0 10px;
  }
  .pages_navigation {
    padding: 20px 10px 30px;
  }
  .header_bg_block .dlbp_title h3 {
    text-align: left;
  }
}
